.task-block {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #AFAFAF;
  word-break: break-word;

  &_completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
}


